name: docs deployment
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: "${{ github.ref }}-${{ github.head_ref }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  docs:
    if: "github.repository == 'MDAnalysis/GridDataFormats'"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: "Setup Micromamba"
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: ci/environment.yaml
        environment-name: griddata_env
        create-args: >-
          python=3.11
        init-shell: bash
        
    - name: install package
      run: |
        python -m pip install -v .

    - name: build docs
      run: |
        cd doc && sphinx-build -b html source build

    - name: deploy docs
      uses: peaceiris/actions-gh-pages@v3
      if: github.event_name != 'pull_request'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./doc/build
        user_name: 'github-actions'
        user_email: 'github-action@users.noreply.github.com'
