name: GH Actions CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: "${{ github.ref }}-${{ github.head_ref }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  unittests:
    if: "github.repository == 'MDAnalysis/GridDataFormats'"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ]
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9, "3.10"]
        include:
          - os: windows-latest
            python-version: 2.7	
          - os: windows-latest
            python-version: 3.9
          - os: macos-latest
            python-version: 2.7	    
          - os: macos-latest
            python-version: 3.9

    steps:
    - uses: actions/checkout@v2

    - name: setup_miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        auto-update-conda: true
        channel-priority: flexible
        channels: conda-forge
        add-pip-as-python-dependency: true
        mamba-version: "*"

    - name: install package deps
      run: |
        mamba install numpy scipy mrcfile six pytest pytest-cov codecov

    - name: check install
      run: |
        which python
        which pip
        conda info
        conda list

    - name: install package
      run: |
        pip install -v .

    - name: run unit tests
      run: |
        pytest -v --cov=gridData --cov-report=xml --color=yes ./gridData/tests

    - name: codecov
      uses: codecov/codecov-action@v2
      with:
        file: coverage.xml
        fail_ci_if_error: True
        verbose: True
